<cloukit-dropout-outlet></cloukit-dropout-outlet>
<div style="padding:60px;">

  <span class="label">tooltip to the left:</span>
  <span
    class="tooltipTrigger"
    cloukitTooltip="delicious german sausage"
    cloukitTooltipPlacement="left"
  >Bratwurst</span>
  <br><br>
  <span class="label">tooltip to the right:</span>
  <span
    class="tooltipTrigger"
    cloukitTooltip="delicious german sausage"
    cloukitTooltipPlacement="right"
  >Bratwurst</span>
  <br><br>
  <span class="label">tooltip to the top:</span>
  <span
    class="tooltipTrigger"
    cloukitTooltip="delicious german sausage"
    cloukitTooltipPlacement="top"
  >Bratwurst</span>
  <br><br>
  <span class="label">tooltip to the bottom:</span>
  <span
    class="tooltipTrigger"
    cloukitTooltip="delicious german sausage"
    cloukitTooltipPlacement="bottom"
  >Bratwurst</span>
  <br><br>
  <span class="label">tooltip on a button:</span>
  <button
    class="tooltipTrigger"
    cloukitTooltip="delicious german sausage"
    cloukitTooltipPlacement="bottom"
  >Bratwurst</button>
  <br><br>
  <span class="label">tooltip on a buton with click action:</span>
  <a
    href="#"
    class="tooltipTrigger"
    cloukitTooltip="delicious german sausage"
    cloukitTooltipPlacement="bottom"
    (click)="counter=counter+1"
  >Bratwurst {{counter}}</a>
</div>
